[settings]
# optional HTTP proxy to use for all outgoing HTTP requests, e.g. http://localhost:3128 or leave empty
proxy=
# timeout for HTTP requests
timeout=60
# how many toots to fetch from an account's timeline
timeline_limit=25
# file to store which toots were already processed
state_file_path = toot2mail.state
# lock file
lock_file_path = toot2mail.lock
# maximum image width and height for attached images, if any image dimension is higher than
# these values, the image will be downscaled to the corresponding maximum
# leave unset to not downscale images, format: WIDTH,HEIGHT
image_maximum_size = 600,350
# shorten the subject of the mail if the text is longer than this length
mail_maximum_subject_length = 75
# mail settings
mail_from = toot2mail@example.com
mail_recipient = toot2mail@example.com
mail_server_hostname = localhost
mail_server_port = 25

[accounts]
# format: accountname@instance and with optional flags (noboosts,noreplies), e.g.: example@mastodon.social = noboosts,noreplies
alice@example.com
bob@example.com
jane@example.social = noboosts
john@example.social = noboosts,noreplies

[hashtags]
# format: hashtag@instance, the leading hash (#) must be omitted
hashtag@example.social
